#### ðŸ“š Semana 2 â€” Lunes: EstadÃ­stica Descriptiva Rigurosa
#### Autor: RaÃºl Silva Orellana  
#### Objetivo: Calcular e interpretar mÃ©tricas clave para toma de decisiones.

In [1]:
# %%
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
sns.set_style("whitegrid")
print("âœ… LibrerÃ­as cargadas")

âœ… LibrerÃ­as cargadas

In [4]:
# %%
# Carga el dataset LIMPIO (del sÃ¡bado)
df = pd.read_csv("../data/processed/titanic_clean.csv")

In [5]:
print(f"âœ… Dataset limpio: {df.shape[0]} filas, {df.shape[1]} columnas")
df.head(3)

âœ… Dataset limpio: 891 filas, 12 columnas

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### ***1. EstadÃ­sticas univariadas: numÃ©ricas***

In [6]:
# Columnas numÃ©ricas clave
num_cols = ["Age", "Fare", "SibSp", "Parch"]

In [7]:
# EstadÃ­sticas bÃ¡sicas con describe() â†’ pero vamos mÃ¡s allÃ¡
basic_stats = df[num_cols].describe()
basic_stats

              Age        Fare       SibSp       Parch
count  891.000000  891.000000  891.000000  891.000000
mean    29.361582   32.204208    0.523008    0.381594
std     13.019697   49.693429    1.102743    0.806057
min      0.420000    0.000000    0.000000    0.000000
25%     22.000000    7.910400    0.000000    0.000000
50%     28.000000   14.454200    0.000000    0.000000
75%     35.000000   31.000000    1.000000    0.000000
max     80.000000  512.329200    8.000000    6.000000

In [8]:
# AÃ±adimos varianza, asimetrÃ­a (skew) y curtosis
advanced_stats = pd.DataFrame({
    "media": df[num_cols].mean(),
    "mediana": df[num_cols].median(),
    "varianza": df[num_cols].var(),
    "desv_est": df[num_cols].std(),
    "asimetria": df[num_cols].skew(),
    "curtosis": df[num_cols].kurtosis()
})
advanced_stats.round(3)

        media  mediana  varianza  desv_est  asimetria  curtosis
Age    29.362   28.000   169.512    13.020      0.510     0.994
Fare   32.204   14.454  2469.437    49.693      4.787    33.398
SibSp   0.523    0.000     1.216     1.103      3.695    17.880
Parch   0.382    0.000     0.650     0.806      2.749     9.778

#### ***2. EstadÃ­sticas por grupo: Â¿la clase afecta la edad?***

In [9]:
# Media y mediana de Age por Pclass
age_by_class = df.groupby("Pclass")["Age"].agg(["mean", "median", "std", "count"])
age_by_class.round(2)

         mean  median    std  count
Pclass
1       36.81    35.0  14.18    216
2       29.77    28.0  13.58    184
3       25.93    28.0  10.70    491

In [10]:
# Â¿Y por supervivencia?
age_by_survival = df.groupby("Survived")["Age"].agg(["mean", "median", "std"])
age_by_survival.round(2)

           mean  median    std
Survived
0         30.03    28.0  12.50
1         28.29    28.0  13.76

In [11]:
# Combinado: Pclass + Survived
age_by_both = df.groupby(["Pclass", "Survived"])["Age"].agg(["mean", "median", "count"])
age_by_both.round(2)

                  mean  median  count
Pclass Survived
1      0         40.56    38.5     80
       1         34.61    33.5    136
2      0         33.14    30.0     97
       1         26.00    28.0     87
3      0         26.95    28.0    372
       1         22.75    27.0    119

#### ***3. Cuartiles e IQR: base para detecciÃ³n de outliers***

In [16]:
# Cuartiles de Age y Fare
Q1_age = df["Age"].quantile(0.25)
Q3_age = df["Age"].quantile(0.75)
IQR_age = Q3_age - Q1_age

Q1_fare = df["Fare"].quantile(0.25)
Q3_fare = df["Fare"].quantile(0.75)
IQR_fare = Q3_fare - Q1_fare

In [17]:
print(f"Age â†’ Q1: {Q1_age:.1f}, Q3: {Q3_age:.1f}, IQR: {IQR_age:.1f}")
print(f"Fare â†’ Q1: {Q1_fare:.2f}, Q3: {Q3_fare:.2f}, IQR: {IQR_fare:.2f}")

Age â†’ Q1: 22.0, Q3: 35.0, IQR: 13.0
Fare â†’ Q1: 7.91, Q3: 31.00, IQR: 23.09

In [19]:
# LÃ­mites para outliers (regla IQR)
lower_age = Q1_age - 1.5 * IQR_age
upper_age = Q3_age + 1.5 * IQR_age

lower_fare = Q1_fare - 1.5 * IQR_fare
upper_fare = Q3_fare + 1.5 * IQR_fare

In [20]:
print(f"\nOutliers en Age: <{lower_age:.1f} o >{upper_age:.1f}")
print(f"Outliers en Fare: <{lower_fare:.2f} o >{upper_fare:.2f}")

Outliers en Age: <2.5 o >54.5
Outliers en Fare: <-26.72 o >65.63